# Spring Boot configuration
spring:
  #application:
   # name: service
  #main:
   # allow-bean-definition-overriding: true
   # lazy-initialization: true
  # Database
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/employee
    username: postgres
    password: postgres
  # JPA properties
  jpa:
    hibernate:
      ddl-auto: update # When you launch the application for the first time - switch "none" at "create"
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    #open-in-view: false
    #generate-ddl: true
  flyway:
    #    locations: filesystem:.\src\main\resources\db\migration
    enabled: false
    #    clean-disabled: true
    baseline-on-migrate: true
#  security:
#    user:
#      name: admin
#      password: admin
# Logger configuration
logging:
  pattern:
    console: "%d %-5level %logger : %msg%n"
  level:
    org.springframework: info
    org.hibernate: debug
# Server configuration
server:
  port: 8089 #set your port
# Swagger configuration
springdoc:
  swagger-ui:
    path: /swagger-ui.html # swagger-ui custom path
  api-docs:
    path: /v3/api-docs.yaml
management:
  endpoints:
    enabled-by-default: false
  endpoint:
    health:
      enabled: true


